
.linha{
  border: solid 3px;
  color: rgb(255, 255, 255);
  height: 200px;
}

.linha2{
  border: solid 3px;
  color: rgb(255, 255, 255);
  height: 200px;
}

.linha3{
  border: solid 3px;
  color: rgb(255, 255, 255);
  height: 200px;
}
