


.casa1{
  height: 200px;
  width: 200px;
}

.casa2{
  height: 200px;
  width: 200px;

}

.casa3{
  height: 200px;
  width: 200px;

}

.casa4{
  height: 200px;
  width: 200px;
}

.casa5{
  height: 200px;
  width: 200px;

}

.casa6{
  height: 200px;
  width: 200px;

}

.casa7{
  height: 200px;
  width: 200px;
}

.casa8{
  height: 200px;
  width: 200px;

}

.casa9{
  height: 200px;
  width: 200px;

}

.col-md-4{
  float: left;

}

.casa{

  background-color: rgb(63, 64, 63);
    color: white;
    padding: 95px 95px;
    font-size: 20px;
    min-width: 10%;
    text-decoration:none;
    cursor: pointer;
    margin-right: 30px;
}

#resetar{
  width: 600px;
  background-color:rgb(161, 16, 16);

    color: white;
    font-size: 15px;
    min-width: 10%;
    text-decoration:none;
    cursor: pointer;
    margin-right: 30px;
}
